*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#grid-viagens{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.figure-viagens{
    border: 2px solid #000;
    border-radius: 4px;
}

.img-viagens{
    width: 100%;
}

.figcaption-viagens{
    padding: 10px;
}

.btn-viagens{
    display: grid;
    padding: 6px 12px;
    margin: 10px auto;
    background-color: green;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    color: aliceblue;
    
}
